<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Die 3 Meta-Tags oben *müssen* zuerst im head stehen; jeglicher sonstiger head-Inhalt muss *nach* diesen Tags kommen -->
    <title>Elite-Verleih</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Unterstützung für Media Queries und HTML5-Elemente in IE8 über HTML5 shim und Respond.js -->
    <!-- ACHTUNG: Respond.js funktioniert nicht, wenn du die Seite über file:// aufrufst -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<div class="container login-container jumbotron center">
    <div class="row">
        <div class="col-md-6 login">
            <h3>Login</h3>
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Benutzername *" value="" required/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Anmelden" />
                </div>
            </form>
        </div>
        <div class="col-md-6 registrieren">
            <h3>Registrieren</h3>
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Benutzername *" value="" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email *" value="" required/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Registrieren" />
                </div>
            </form>
        </div>
    </div>
</div>



<!-- jQuery (wird für Bootstrap JavaScript-Plugins benötigt) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Binde alle kompilierten Plugins zusammen ein (wie hier unten) oder such dir einzelne Dateien nach Bedarf aus -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>