<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <title>Artikel Bearbeiten</title>
</head>
<body>


<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <a class="navbar-brand" th:href="'/Uebersicht'">
        <img alt="" height="50" src="https://raw.githubusercontent.com/neroc100/propra2logo/master/EliteVerleihLogo.png"
             width="180">
    </a>
    <div class="nav-item dropdown ml-auto">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
           id="navbarDropdownMenuLink">
            <b class="fas fa-user" th:text="${benutzer.getBenutzerName()}"></b>
        </a>
        <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right dropdown-info">
            <a class="dropdown-item" th:href="'/Profil'">Mein Profil</a>

            <a class="dropdown-item" href="/logout">Ausloggen</a>
        </div>
    </div>
</nav>


<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card mb-4 shadow-sm">
            <div class="card text-center">
                <h1 class="card-header">
                    Artikel bearbeiten
                </h1>
                <div class="card-body">

                    <form action="#" method="post" th:object="${artikel}">
                        <div class="form-group">
                            <label>Name </label>
                            <input class="form-control" th:field="*{artikelName}" type="text"/>
                        </div>
                        <div class="form-group">
                            <label>Beschreibung </label>
                            <textarea class="form-control" th:field="*{artikelBeschreibung}" type="text"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Kaution </label>
                            <input class="form-control" th:field="*{artikelKaution}" type="number"/>
                        </div>
                        <div class="form-group">
                            <label>Tarif (pro Tag)</label>
                            <input class="form-control" th:field="*{artikelTarif}" type="number"/>
                        </div>
                        <div class="form-group">
                            <label>Abholort </label>
                            <input class="form-control" th:field="*{artikelOrt}" type="text"/>
                        </div>
                        <li class="list-group-item">
                            <a th:href="|/Loeschen/${artikel?.getArtikelId()}|">
                                <button class="btn btn-sm btn-outline-secondary" type="button">
                                    Loeschen<!-- führt zur benutzer seite-->
                                </button>
                            </a>
                        </li>
                        <p>
                            <button class="btn btn-primary my-2" type="submit">Submit</button>
                            <button class="btn btn-primary my-2" type="reset">Reset</button>
                        </p>
                        <div th:if="${param.error}" class="alert alert-danger">Artikel wurde angefragt und kann nicht geloescht
                            werden!</div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
