<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <title>Detailansicht</title>

</head>
<body>

<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <a class="navbar-brand" th:href="'/Uebersicht'">
        <img alt="" height="50" src="https://raw.githubusercontent.com/neroc100/propra2logo/master/EliteVerleihLogo.png"
             width="180">
    </a>
    <div class="nav-item dropdown ml-auto">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
           id="navbarDropdownMenuLink">
            <b class="fas fa-user" th:text="${benutzer.getBenutzerName()}"></b>
        </a>
        <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right dropdown-info">
            <a class="dropdown-item" th:href="'/Profil'">Mein Profil</a>

            <a class="dropdown-item" href="/logout">Ausloggen</a>
        </div>
    </div>
</nav>


<section class="jumbotron text-center" th:if="${artikel==null}">
    <p class="lead text-muted">Artikel nicht vorhanden.</p>
</section>

<div class="album py-5" th:if="${artikel!=null}">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h3 class="text-center">

                            <span th:text="${artikel.artikelName}"></span>
                        </h3>
                        <div class="thumbnail">
                            <img alt="Bild" class="img-fluid" th:src="${artikel.getArtikelBildUrl()}">

                        </div>
                        <div class="card text-center" th:method="get" th:object="${artikel}">

                            <li class="list-group">

                            <li class="list-group-item" th:name="artikelName"
                                th:text="'Artikelname: '+${artikel?.getArtikelName()}"></li>
                            <li class="list-group-item" th:name="artikelBeschreibung"
                                th:text="'Beschreibung: '+${artikel?.getArtikelBeschreibung()}"></li>
                            <li class="list-group-item" th:name="benutzerName"
                                th:text="'Besitzer: '+${artikel?.getBenutzer().getBenutzerName()}"></li>
                            <li class="list-group-item" th:name="artikelKaution"
                                th:text="'Kaution: '+${artikel?.getArtikelKaution()}"></li>
                            <li class="list-group-item" th:name="artikelTarif"
                                th:text="'Tarif: '+${artikel?.getArtikelTarif()}"></li>
                            <li class="list-group-item" th:name="artikelOrt"
                                th:text="'Ort: '+${artikel?.getArtikelOrt()}"></li>


                            <td th:if="${artikel?.getBenutzer().getBenutzerId() == benutzer?.getBenutzerId()}">
                                <li class="list-group-item">
                                    <a th:href="|/Bearbeiten/${artikel?.getArtikelId()}|">
                                        <button class="btn btn-sm btn-outline-secondary" type="button">
                                            Bearbeiten<!-- führt zur benutzer seite-->
                                        </button>
                                    </a>
                                </li>

                            </td>

                            <li class="list-group-item">
                                <div class="container">
                                    <form action="#" method="post"
                                          th:href="|/Detailansicht/${artikel.getArtikelId()}|" th:object="${artikel}">


                                        <div class="row justify-content-center">


                                            <div class="input-daterange input-group" data-date-format="dd-mm-yyy"
                                                 id="datepicker">
                                                <input class="input-sm form-control" name="startDatumString"
                                                       placeholder="From date"
                                                       type="date"/>
                                                <span class="input-group-text" id="">to</span>
                                                <input class="input-sm form-control" name="endDatumString"
                                                       placeholder="To date"
                                                       type="date"/>
                                            </div>
                                        </div>

                                        <script type="text/javascript">
                                            $(function () {
                                                $("#datepicker").datepicker({
                                                    autoclose: true,
                                                    todayHighlight: true
                                                }).datepicker('getDate', new Date());
                                            });
                                        </script>
                                        <button class="btn btn-sm btn-outline-secondary" type="submit">
                                            Artikel ausleihen
                                        </button>
                                    </form>


                                </div>
                                <div class="form-group">
                                    <div class="alert alert-success"
                                        th:if="${#lists.isEmpty(artikel.ausgeliehen)}">
                                        Artikel verfügbar
                                    </div>
                                </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>
</html>
