<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <title>Profil</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top ">
      <a class="navbar-brand" href="/Uebersicht">Elite Verleih</a>
      <a> <img src="https://as2.ftcdn.net/jpg/01/93/27/93/500_F_193279355_zcwJvt3VuNdRJfELOjzkz9CSKmBKWnDL.jpg" heigt="30px" width="30px"> Name Email Betrag</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>Anfrage
      </button>
    </nav>

	<div id="accordion">
	  <div class="card">
	    <div class="card-header" id="headingOne">
	      <h3 class="mb-0">
	        <center><button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          <h3>Anfragen</h3>
	        </button></center>
	      </h3>
	    </div>
	  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
	    <div class="container jumbotron center">
	      <div class="row">
	        <div class="card" style="width: 17rem;">
	            <img src="https://as2.ftcdn.net/jpg/01/93/27/93/500_F_193279355_zcwJvt3VuNdRJfELOjzkz9CSKmBKWnDL.jpg" heigt="25px" class="card-img-top" alt="...">
	            <div class="card-body">
		            <h5 class="card-title">ArtikelName</h5>
		            <p class="card-text">Dauer</p>
				    <p class="card-text">Benutzer</p>
				    <a href="/Detailansicht">Details</a>
				    <form method="post" th:action="@{/Profil}"> <!-- TODO!!! Bearbeiten????-->
		              <input class="btn btn-outline-success" type="submit" value="Annehmen" />
		              <input class="btn btn-outline-danger" type="submit" value="Ablehnen" />
		            </form> 
	            </div>
            </div>
	      </div>
	    </div>  
     </div>
   </div>


  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h3 class="mb-0">
          <center><button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <h3>Ausgeliehendes</h3>
          </button></center>
        </h3>
      </div>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="container jumbotron center">
        <div class="row">
          <div class="card" style="width: 17rem;">
            <img src="https://as2.ftcdn.net/jpg/01/93/27/93/500_F_193279355_zcwJvt3VuNdRJfELOjzkz9CSKmBKWnDL.jpg" heigt="25px" class="card-img-top" alt="...">
		    <div class="card-body">
		      <h5 class="card-title">ArtikelName</h5>
		      <p class="card-text">Dauer</p>
		      <p class="card-text">Benutzer</p>
		      <a href="/Detailansicht">Details</a>
		      <form method="post" th:action="@{/Profil}"> <!-- TODO!!! Bearbeiten????-->
		           <center><input class="btn btn-outline-success" type="submit" value="Zurueckgegeben" /></center>
		      </form> 
    	    </div>
          </div>
  	    </div>
	  </div>
    </div>
  </div>


  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingThree">
        <h3 cl</ass="mb-0">
          <center><button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <h3>Eigene Artikel</h3>
          </button></center>
        </h3>
      </div>
      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="container jumbotron center">
          <h3>Weggegebenes</h3>
          <div class="row">
            <div class="card" style="width: 17rem;">
	    	    <img src="https://as2.ftcdn.net/jpg/01/93/27/93/500_F_193279355_zcwJvt3VuNdRJfELOjzkz9CSKmBKWnDL.jpg" class="card-img-top" alt="...">
	    		<div class="card-body">
	      		  <h5 class="card-title">ArtikelName</h5>
	      		  <p class="card-text">Benutzer</p>
	      		  <p class="card-text">Dauer</p>
	      		  <a href="/Detailansicht">Details</a>
	    		</div>
	  		</div>
  		  </div>
  		  <br/>
  		  <h3>Zurueckerhaltenes</h3>
    	  <div class="row">
			<div class="card" style="width: 17rem;">
			  <img src="https://as2.ftcdn.net/jpg/01/93/27/93/500_F_193279355_zcwJvt3VuNdRJfELOjzkz9CSKmBKWnDL.jpg" heigt="25px" class="card-img-top" alt="...">
    		  <div class="card-body">
      			<h5 class="card-title">ArtikelName</h5>
      			<p class="card-text">Benutzer</p>
      			<p class="card-text">Dauer</p>One
      			<a href="/Detailansicht">Details</a>
      			<form method="post" th:action="@{/Profil}"> <!-- TODO!!! Bearbeiten????-->
           		  <input class="btn btn-outline-success" type="submit" value="Akzeptieren" />
           		  <input class="btn btn-outline-danger" type="submit" value="Ablehnen" /> <!-- SupportSeite weiterleiten-->
      			</form>
    		  </div>
  			</div>
  		  </div>
  		</div>
  	  </div>
  	</div>
  </div>


  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingFour">
        <h3 class="mb-0">
          <center><button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <h3>Zurueckgegebenes</h3>
            </button></center>
        </h3>
      </div>
    </div>
    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
	  <div class="container jumbotron center">
  		<div class="row">
		  <div class="card" style="width: 17rem;">
    	    <img src="https://as2.ftcdn.net/jpg/01/93/27/93/500_F_193279355_zcwJvt3VuNdRJfELOjzkz9CSKmBKWnDL.jpg" heigt="25px" class="card-img-top" alt="...">
    		<div class="card-body">
      		  <h5 class="card-title">ArtikelName</h5>
      		  <p class="card-text">Benutzer</p>
      		  <p class="card-text">Dauer</p>
      		  <a href="/Detailansicht">Details</a>
      		  <br/>
      		  <a href="/support">Probleme</a>
    		</div>
  		  </div>
		</div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
  </body>
</html>