<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Die 3 Meta-Tags oben *müssen* zuerst im head stehen; jeglicher sonstiger head-Inhalt muss *nach* diesen Tags kommen -->
    <title>Elite-Verleih</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Unterstützung für Media Queries und HTML5-Elemente in IE8 über HTML5 shim und Respond.js -->
    <!-- ACHTUNG: Respond.js funktioniert nicht, wenn du die Seite über file:// aufrufst -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <a class="navbar-brand" th:href="'/Uebersicht'">
        <img alt="" height="50" src="https://raw.githubusercontent.com/neroc100/propra2logo/master/EliteVerleihLogo.png"
             width="180">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline" method="post">
            <div class="md-form my-0">
                <input aria-label="Search" class="form-control mr-sm-2" name="suchBegriff" placeholder="Was suchen Sie?"
                       th:value="${suchBegriff}"
                       type="text">
                <button class="btn btn-outline-success my-2 my-sm-0" name="sucheButton" type="submit">Suche</button>
            </div>
        </form>
    </div>
    <div class="nav navbar-nav">
        <a th:href="|/Erstellen|">
            <button class="btn btn-success mx-auto btn-sm mr-sm-2 float-rigth" type="button">Verleihen</button>
        </a>
        <a th:href="|/VerkaufErstellen|">
            <button class="btn btn-success mx-auto btn-sm mr-sm-2" type="button">Verkaufen</button>
        </a>
    </div>

    <div class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
           id="navbarDropdownMenuLink">
            <b class="fas fa-user" th:text="${benutzer.getBenutzerName()}"></b>
        </a>
        <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right dropdown-info">
            <a class="dropdown-item" th:href="'/Profil'">Mein Profil</a>

            <a class="dropdown-item" href="/logout">Ausloggen</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="card-columns lg">
        <a th:each="artikel : ${artikels}" th:href="|/Detailansicht/${artikel.getArtikelId()}|">
            <div class="card">
                <img alt="Kein Bild vorhanden!" class="card-img-top" th:src="${artikel.getArtikelBildUrl()}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${artikel.getArtikelName()}">Artikelname</h5>
                    <p class="card-text text-truncate" th:text="${artikel.getArtikelBeschreibung()}">Beschreibung</p>
                    <p class="card-test text-truncate">
                        <i th:if="${artikel?.getZuVerkaufen()}==false">Zu Verleihen</i>
                        <i th:if="${artikel?.getZuVerkaufen()}==true">Zu Verkaufen</i>
                    </p>
                    <p class="card-text" th:if="${artikel?.getZuVerkaufen()}==false" th:text="|Kosten/Tag :
                        ${artikel.getArtikelTarif()},00€|">Kosten/Tag</p>
                    <p class="card-text" th:if="${artikel?.getZuVerkaufen()}==true" th:text="|Preis :
                        ${artikel.getArtikelPreis()},00€|">Preis</p>
                </div>
            </div>
        </a>
    </div>
</div>

<div th:if="${artikels.isEmpty()}">
    <p align="center" class="lead text-white">Keine Artikel vorhanden.</p>
    <p align="center" class="lead text-white">Keine Artikel vorhanden.</p>
    <p align="center" class="lead text-white">Keine Artikel vorhanden.</p>
    <p align="center" class="lead text-white">Keine Artikel vorhanden.</p>
    <p align="center" class="lead text-muted">Keine Artikel vorhanden.</p>
</div>


<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
